/* code css general */
body{
    margin: 0;
    padding: 0;
}

img{
    width: 28px; 
}

/* code css detail */

    /*------------------------------- header---------------------------------- */

header {
    justify-content: space-between;
    color: white;
    background-color: #d35649;
    display: flex;
}

header .menu1 {
    padding: 15px 10px 0;
}

.headerimg1{
    width: 70px ;
}

.menu1 a{
    font-size: 35px;
    margin: 0 10px;
    position: relative;
    top: -5px;
    text-decoration: none;
    color: white;
}

header .menu2 {
    display: flex;
    flex-direction: row;
    float: right;
    font-size: smaller;
    margin: 0 0 0 60px;
    justify-content: space-between ;
}

.menu1 .option{
    padding:  0 25px ;
    display: flex;
    flex-direction: row;
}

.menu2 .option{
    padding: 0 15px;
}
    

.menu2 .option img{
    padding: 0 5px;
    position: relative;
    top: 10px
}

/* --------------------header animation--------------------------- */

header .option:hover {
    color: #98a5a5;
}



/* main */

#formulaire{
    background-color: grey;
    padding: 20px 0 50px  300px ;
    
}


#formulaire div  {
    display: flex;
    
}

#formulaire  h1{
    text-align: center;
}

#formulaire div form p{
    font-weight: bold;
    

}

#formulaire div form {
    padding: 0 10px ;
}

#formulaire div form input{
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.blue{
    background-color: blue;
    height: 50px;
    font-size: 15px;
    color: white;
    border-radius: 5px ;
    margin: 2px;
    position: relative;
    top: 30%;
}
.yellow{
    background-color: rgb(70, 70, 9);
    height: 50px;
    font-size: 15px;
    color: white;
    border-radius: 5px ;
    margin: 2px;
    position: relative;
    top: 30%;
    border: none;
}

#figure {
    text-align: center;
    padding: 50px;
}

#figure div{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

#figure div figure{
    background-color: red;
    padding: 1%;
  
}

#figure div figure img{
    width: 50%;
}

figcaption{
    position: relative;
    font-size: 15px;
    color: white;

}

/* ------------------------------footer-------------------------------*/

footer{
    display: block;
    background-color:black;
    color: white;
    padding-top: 20px;
}



 .footer-top .container1{
    display: flex;
    width: 47.5%;
    justify-content: space-between;
    margin: 60px auto;
    
}

.container1 .row{
    display: flex;
    border-width:5px 0;
    border-style:inset;
    border-color:white;
    height: 50px;
    font-weight: bolder;
}

.row a{
    margin: 15px 13px;
    text-decoration: none;
    color: white;
}

.row-center{
    border-width:5px;
    border-style:inset;
    border-color:white;
    padding: 10px;
    border-radius: 100%;
    margin-top: -25px;

}

.row-center img{
    width: 73px;
    height: 80px;
    margin-bottom: -17%;
    position: relative;
    bottom: -5px;
}


.footer-top .container2{
    display: flex; 
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
    right: -5%;
    padding-bottom: 15px;
    
}

h2{
    font-size: 25px;
}

 p {
    font-size: 17px;
}

.container2 form input{
    padding: 8px;
    font-size: 15px;
    background-color: black;
    color: white;
    border-width: 1px;
    border-color: gray;
}


.container2 form .button{
    font-size: 15px;
    margin-left: -5px;
    border-radius: 6px;
    padding: 15px; 
    font-weight: bold;
    background-color: #98a5a5;
    color: white;
    border: none;
}

.container2 a{
    color: #d35649;
    text-decoration: none;
}


p.marge{
    margin-top: -3%;
}


/* footer-bottom */

.footer-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    padding-bottom: 20px;
    background-color:#1f1f1f;
}

.footer-bottom .icon-footer img{
        padding: 20px 25px;
        width: 19px;
}

/*------------footer animation-------------- */
