/* css general */
body{
    margin: 0;
    padding: 0;
}

img{
    width: 25px; 
}

/* css detail */

    /* code header */

header {
    justify-content: space-between;
    color: white;
    background-color: rgb(231, 103, 103);
    display: flex;
}  

header .menu {
    display: flex;
    flex-direction: row;
    float: right;
    font-size: smaller;
    margin: 0 0 0 60px;
    justify-content: space-between ;
}

.headerpeople{
    padding: 15px 10px 0;
    
}

.headerimg0{
    width: 70px ;
    

}

.headerpeople span{
    font-size: 35px;
    margin: 0 10px;
    position: relative;
    top: -5px;
}

.option{
    padding:  0 25px ;
    display: flex;
    flex-direction: row;
    
}

.option img{
    position: relative;top: 10px
}

/* code main  */

#asunnybeachday{
    margin: 70px 0 0 20px;
    box-shadow: 10px 5px 25px black;
}

#asunnybeachday .row1{
    text-align: center;
    padding: 2px 0 ;
    font-size: 25px;
    font-weight: bolder;
    color: #e7676e;
}
#asunnybeachday .row2{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

#asunnybeachday .row2 .col p{
    border-width:5px ; 
    border-style:inset; 
    border-color:black ; 
    border-radius: 5px; 
    padding: 15px 200px;
}

#asunnybeachday .row2 .col span{
    color: blue;
}

#asunnybeachday button{
    background-color: blue;
    color: white;
    padding: 20px ;
    font-size: 15px;
    position: relative;
    left: 84.45%;
    
}

#asunnybeachday .row3{
 display: flex;
 justify-content: space-around;
}

#mapdirections{
    background-color: white;
    margin-top: 10px;
    padding-top: 30px;
}

#mapdirections .row1{
    background-color: grey;
    padding: 10px;
    margin-top: 25px;
}

#mapdirections .row1 p{
    padding-left: 28px;
}

#mapdirections .row1 span{
    padding-left: 15px;
}

h1{
    text-align: center;
    color: #e7676e;
}

h1 img{
    width: 50px;
    fill: #e7676e;
}

figure iframe{
    width: 100%;
}


/* footer*/

footer{
    display: block;
}

/* footer top */

footer .footer-top .container1{
    
    background-color: ;
    display: flex;
    width: 47.5%;
    justify-content: space-between;
    margin: 60px auto;
    color: ;
}

footer .container1 .row{
    display: flex;
    border-width:5px 0;
    border-style:inset;
    border-color:black;
    height: 50px;
    font-weight: bolder;
}

.row p{
    margin: 15px 13px;
}

.row-center{
    border-width:5px;
    border-style:inset;
    border-color:black;
    padding: 10px;
    border-radius: 100%;
    margin-top: -25px;

}

.row-center img{
    width: 73px;
    height: 80px;
    margin-bottom: -17%;
    position: relative;
    bottom: -5px;
}


.footer-top .container2{
    display: flex; justify-content: space-around;
    text-align: center;
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
    right: -5%;
    
}
.footer-top .container2 p {
    font-size: 20px;
}

.container2 form input{
    padding: 8px;
    font-size: 15px;
}

.container2 .col2{
    position: relative;
   
}

.container2 form .button{
    font-size: 15px;
    margin-left: -5px;
    border-radius: 6px;
}

/* footer-bottom */

.footer-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    padding-bottom: 35px;
}

.footer-bottom .icon-footer img{
        padding: 0 25px;
        width: 19px;
}